<div class="container grid grid-cols-2 grid-rows-2">
  <app-header class="bg-red-900"></app-header>
  <main class="bg-teal-900">
    <router-outlet></router-outlet>
  </main>
  <app-footer class="bg-indigo-900"></app-footer>
</div>
